<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service Dashboard</title>
</head>
<body>
<h1>Service Dashboard</h1>
<table border="1">
    <thead>
    <tr>
        <th>Service Name</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Eureka Server</td>
        <td><a th:href="${eurekaUrl}">Eureka Admin</a></td>
    </tr>
    <tr th:each="service : ${services}">
        <td th:text="${service}"></td>
        <td><a th:href="'/' + ${service} + '/info'">Info</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
